* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
blockquote {
  font-size: 2em;
  font-family: "Caveat", cursive;
  text-align: center;
  padding: 10px 5px;
  background-color: teal;
  color: seashell;
}
blockquote::before,
blockquote::after {
  content: '"';
}
.main {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.main-inner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}
.main_title {
  font-family: "Poiret One", cursive;
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1em;
  width: 100%;
  height: 100%;
  color: seashell;
  font-size: 3em;
  text-align: center;
  transition: all 2s;
  animation: fade 1s ease-in forwards;
}
figure {
  margin: 0px;
  padding: 0px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.main:nth-child(3) figure {
  background-image: url("https://raw.githubusercontent.com/Bobzinee/restaurantwebsite/main/mainmob.jpg");
}
.main:nth-child(4) figure {
  background-image: url("https://raw.githubusercontent.com/Bobzinee/restaurantwebsite/main/four.jpg");
}
.main:nth-child(5) figure {
  background-image: url("https://raw.githubusercontent.com/Bobzinee/restaurantwebsite/main/second.jpg");
}
.main:nth-child(6) figure {
  background-image: url("https://raw.githubusercontent.com/Bobzinee/restaurantwebsite/main/thirdmob.jpg");
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* NavBar */
.menu-btn {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger {
  width: 50px;
  height: 6px;
  border-radius: 5px;
  background-color: seashell;
  transition: all 0.5s ease-in-out;
  border: none;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  border-radius: 5px;
  background-color: seashell;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before {
  transform: translateY(-16px);
}
.menu-btn-burger::after {
  transform: translateY(16px);
}
.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: teal;
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: teal;
}
.menu-btn.open:hover {
  transform: rotate(180deg);
}
.nav-container {
  z-index: 1;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: seashell;
  clip-path: circle(0% at 0% 0%);
  transition: clip-path 0.5s ease-in-out;
}
.nav-container a {
  text-decoration: none;
}
.nav-container li {
  list-style: none;
  font-size: 2em;
  color: teal;
  padding: 10px;
}
.nav-container ul:nth-child(1) {
  margin-top: 70px;
}
.show-menu {
  clip-path: circle(45% at 0% 20%);
}
.cuisines {
  position: relative;
  color: white;
}
#services h2 {
  color: teal;
  text-align: center;
  margin: 8px 0px;
}
.cuisines h4 {
  font-family: "Poiret One", cursive;
  font-size: 1.8em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ser-container img {
  width: 100%;
  height: 15vh;
  object-fit: cover;
  border-radius: 8px;
}
.rooms {
  width: 100vw;
  height: 280px;
  margin: 5px 0;
  border-radius: 1em;
}
.rooms img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#contact h2 {
  color: teal;
  font-family: "Poiret One", cursive;
  text-align: center;
  font-size: 1.7em;
  padding: 5px;
}
.contact-container h3 {
  text-decoration: underline;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(65, 65, 65);
}
.contact-container p {
  font-size: 1.4em;
}

.details {
  margin: 10px;
  padding: 5px;
  text-align: center;
  box-shadow: 1px 2px 3px #888888;
  border-radius: 20px;
}
.details p {
  padding-top: 4px;
  color: #888888;
}
.contact-container img {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 400px;
  overflow-x: hidden;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.308);
}

/* Destop screens */
@media screen and (min-width: 768px) {
  .contact-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  .details {
    margin-left: 2em;
    box-shadow: 1px 2px 3px #888888;
    width: 360px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    position: relative;
  }
  .details p {
    padding-top: 4px;
    color: #888888;
  }
  .details:hover {
    box-shadow: 2px 3px 3px #888888;
  }
  #contact h2 {
    font-size: 3em;
    text-align: center;
    color: teal;
    font-family: "Poiret One", cursive;
    padding: 8px;
  }
  #services h2 {
    font-size: 3em;
    text-align: center;
    color: teal;
    font-family: "Poiret One", cursive;
    padding: 8px;
  }
  .ser-container img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-radius: 8px;
  }
  .rooms {
    width: 100vw;
    height: 100vh;
    margin: 5px 0;
    border-radius: 1em;
  }
}
